[mysqld]
## static options ##
user=mysql
ndbcluster=on
datadir=/var/lib/mysql-cluster/mysqld
log_error=mysqld.err
socket=/tmp/mysql.socket

## dynamic options ##

# this mysqld instance's node ID in the Cluster: 53...255 
ndb_nodeid=53
# the hostname/IP and port for the ndb_mgmd process
ndb_connectstring=127.0.0.1:1186,
